---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="关于我 | Licodeao" description="关于 Licodeao">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="关于我" tagline="Yoo 👋🏻 我是 UG✍">
      </Hero>

      <section>
        <h2 class="section-title">我是谁 🤔</h2>
        <div class="content">
          <p>
            我是 UG，一个斗码大陆苦逼的三段码之气的少年，并没有神秘戒指中码老的帮助，但总有一天，我会成为斗码大陆中码帝一样的存在。三十年河东，三十年河西，莫欺少年穷。
          </p>
          <p></p>
        </div>
      </section>
      <section>
        <h2 class="section-title">目前专注于 🎯</h2>
        <div
          class="content"
          style="display: flex; justify-content: flex-start; gap: 2rem;"
        >
          <img src="https://cdn.simpleicons.org/vuedotjs" alt="Vue" width="60" height="60" style="margin:0 !important; padding:15px;" />
          <img src="https://cdn.simpleicons.org/react" alt="React" width="60" height="60" style="margin:0 !important; padding:15px;" />
          <img src="https://cdn.simpleicons.org/typescript" alt="TypeScript" width="60" height="60" style="margin:0 !important; padding:15px;" />
          <img src="https://cdn.simpleicons.org/nextdotjs" alt="Next.js" width="60" height="60" style="margin:0 !important; padding:15px;" />
          <img src="https://cdn.simpleicons.org/openjdk" alt="Java" width="60" height="60" style="margin:0 !important; padding:15px;" />
        </div>
      </section>
      <section>
        <h2 class="section-title">爱好 🥰</h2>
        <div class="content">
          <ul style="padding:0 !important;">
            <li style="text-decoration: underline;">喜欢 Coding</li>
            <li style="text-decoration: underline;">爱看书</li>
            <li style="text-decoration: underline;">爱瞎倒腾</li>
            <li style="text-decoration: underline;">理想主义者</li>
            <li style="text-decoration: underline;">未来会成为独立开发者</li>
            <li style="text-decoration: underline;">业余 UI/UX 爱好者</li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
