---
/**
 * @description: 文章列表页。从后端 API 拉取所有已发布博客，按时间倒序展示。
 * @author: UG - 一个斗码大陆苦逼的三段码之气的少年，并没有神秘戒指中码老的帮助，但总有一天，我会成为斗码大陆中码帝一样的存在。三十年河东，三十年河西，莫欺少年穷。
 * @date: 2026-04-25
 */
import BaseLayout from "../layouts/BaseLayout.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import { fetchAllBlogs } from "../lib/api";

const blogs = (await fetchAllBlogs()).sort((a, b) => {
  const ta = a.createTime ? new Date(a.createTime).valueOf() : 0;
  const tb = b.createTime ? new Date(b.createTime).valueOf() : 0;
  return tb - ta;
});
---

<BaseLayout
  title="我的文章 | UG"
  description="UG 的文章列表"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title="文章列表" tagline="记录世界，记录自己。" align="start" />
      <Grid variant="offset">
        {
          blogs.map((blog) => (
            <li>
              <PortfolioPreview blog={blog} />
            </li>
          ))
        }
      </Grid>
    </main>
  </div>
</BaseLayout>
